@import "fonts"
@import "libs"
@import "base"
@import "vars"



*
  margin: 0
  padding: 0

.container
  margin: auto 150px
  // outline: 1px solid red

header
  background: #000000


.header
  display: flex
  justify-content: space-between
  img
    margin: 21px 0 22px 0

.header_links
  display: flex
  align-items: center
  text-align: left
  a
    width: 100px
    text-decoration: none
    color: rgba(255, 255, 255, 0.5)
    text-align: right
    font-size: 14px

.main
  background-repeat: no-repeat
  background-size: cover
  padding-top: 110px
  padding-bottom: 139px

.main-section
  display: flex
  justify-content: space-between

.main_section_left_bar
  max-width: 512px
  // outline: 1px solid red
  img:nth-child(1)
    height: 60px
    margin-bottom: 33px
  &:nth-child(4)
    padding-bottom: 10px
  p
    margin-top: 14px
    margin-bottom: 44px
    font-family: Raleway
    color:  rgba(255, 255, 255, 0.5)
    font-size: 16px
    line-height: 23px
  h2
    font-size: 35px
    color: rgba(255, 255, 255, 0.5)
    line-height: 43px
    font-weight: 400
    font-family: Raleway
    margin-bottom: 36px
  button
    font-family: Open Sans
    font-size: 15px
    padding: 15px 32px 14px
    border: 2px solid white
    background: transparent
    color: white
    cursor: pointer
    font-weight: 600

.main_section_right_bar
  width: 360px
  padding-top: 43px
  .form-name
    padding: 18px 56px 15px 52px
    background: #f2f2f2
    border-radius: 4px 4px 0 0
    p
      font-family: Open Sans
      color:  #333333
      font-size: 20px
      font-weight: 700
      margin: 0
      span
        color: #ff8b38
        font-family: Open Sans
        font-size: 20px
        font-weight: 700
  form
    text-align: center
    background: #fcfcfc
    padding-top: 29px
    width: 360px
    border-radius: 0 0 4px 4px
    .inputbox
      text-align: left
      width: 285px
      margin: auto
      position: relative
      margin-bottom: 46px
      border-bottom: 1px solid #d3d3d3 
    .buttonForm
      width: 100%
      font-family: Open Sans
      color:  rgba(255, 255, 255, 0.5)
      font-size: 15px
      font-weight: 600
      height: 54px
      background: #fc9a4f
      border: none
      cursor: pointer
      border-radius: 0 0 4px 4px
    .submit
      height: 54px
    .labeltext
      position: absolute
      font-family: Open Sans
      color:  #bdbdbd
      font-size: 14px
      font-weight: 400
      line-height: 29px
      margin-left: 14px
    .userinput
      position: relative
      background: transparent
      border: none
      height: 31px
      background: transparent
      margin: auto
      width: 285px


.social
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38)
  padding-top: 22px

.social-media
  display: grid
  grid-template-columns: 1fr 1fr
  
  padding-bottom: 22px
  margin-bottom: 3px
  h2
    font-family: Open Sans
    color:  #333333
    font-size: 20px
    font-weight: 700
    line-height: 0.86
    margin-bottom: 12px
  p
    font-family: Open Sans
    color:  #86878b
    font-size: 14px
    font-weight: 400
    line-height: 1.2
  &-items
    display: flex
    justify-content: space-around
    height: 46px
    // outline: 1px solid red
    .fab
     
      color:  #cccccc
      font-size: 46px
      font-weight: 400
  a

    // line-height: 0.4
     
    .fas
      color:  #cccccc
      font-size: 46px
      // font-weight: 400
  i    
    cursor: pointer
    

.tabs
  background-color: #f5f5f5
  padding: 147px 0 114px 0
  &-container
    display: flex
		justify-content: space-between
  &-buttons
    display: flex
    flex-direction: column
    button
      width: 112px
      height: 112px
      font-family: Open Sans
      color:  #fcfcfc
      font-size: 11px
      font-weight: 600
      background: #2f2f2f
      border: none
      outline: none
      cursor: pointer
      border-bottom: 1px solid white
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38)
      border-radius: 4px
      p
        font-size: 0.938em
      &:last-child
        border-bottom: none
    .active
      background: #fc8a34
  &-text
    margin: 0 100px
    h2
      font-size: 1.25em
      line-height: 1
    p
      font-family: Open Sans
      color:  #86878b
      font-size: 14px
      line-height: 1.3
    h2
      margin-bottom: 52px
    p:nth-last-child(2)
      margin-bottom: 51px
    button
      padding: 16px 25px
      border-radius: 4px
      outline: none
      background: #fc8a34
      border: none
      cursor: pointer
      color: white


.sub
  padding: 111px 0 113px
  &-list
    display: flex
    justify-content: space-between
    &-img
      img
        margin-left: -30px
    &-text
      width: 413px
      h2
        font-family: Open Sans
        color:  #212121
        font-size: 20px
        font-weight: 700
        line-height: 1
        margin-bottom: 29px
      img
        margin-bottom: 30px
      p
        font-family: Open Sans
        color:  #86878b
        font-size: 14px
        font-weight: 400
        line-height: 1.2
        margin-bottom: 46px


.sub-title-first, .sub-title-second
  position: relative
  img
    float: left
    &:nth-child(1)
      margin-right: 31px
    &:nth-child(2)
      position: absolute
      top: 12px
      left: 12px
  h3
    font-family: Open Sans
    color:  #212121
    font-size: 14px
    font-weight: 600
    line-height: 17px
    margin-top: 0

.sub-title-second
  img:nth-child(1)
    margin-bottom: 35px
  p
    margin-bottom: 0

.standart-section
  background-color: #f5f5f5
  padding-top: 107px
  padding-bottom: 74px

.standart-picture-section
  display: flex
  justify-content: space-between
  &-text
    h2
      font-family: Open Sans
      color:  #212121
      font-size: 20px
      font-weight: 700
      line-height: 1
      margin-bottom: 29px
    p
      font-family: Open Sans
      color:  #86878b
      font-size: 14px
      font-weight: 400
      line-height: 1.3
    img
      margin-bottom: 30px
  &-image
    margin-top: -12px

.awesome-section
  &-content
    text-align: center
    padding: 108px 0 105px 0
  h2
    margin-bottom: 30px
    font-family: Raleway
    color:  #212121
    font-size: 36px
    font-weight: 700
    line-height: 1
  hr
    width: 64px
    background-color: #fc8a34
    height: 3px
    border: none
    margin: auto
    margin-bottom: 30px
  p
    font-family: Open Sans
    color:  #86878b
    font-size: 14px
    font-weight: 400
    line-height: 1.28


.awesome-section-content-items
  display: flex
  justify-content: space-between
  padding-top: 80px
  &-card
    position: relative
    padding: 0 16px
    img:nth-child(2)
      position: absolute
      top: 21px
      right: 48%
    img:nth-child(1)
      width: 70px
  div:nth-child(2)
    img:nth-child(2)
      right: 46%
 
  
.pricing
  padding: 108px 0 96px
  background-color:  #f5f5f5
  text-align: center
  padding: 108px 0 96px
  &-options
    hr
      width: 64px
      background-color: #fc8a34
      height: 3px
      border: none
      margin: auto
      margin-bottom: 30px
    h3
      font-family: Raleway
      color:  #212121
      font-size: 36px
      font-weight: 400
      line-height: 1
      margin-bottom: 30px
      line-height: 1
    p
      font-family: Open Sans
      color:  #86878b
      font-size: 14px
      font-weight: 400
      line-height: 1
  &-items
    display: flex
    justify-content: space-between
    align-items: flex-end
    div:nth-child(2)
      .top-block
        border-bottom: none
  &-item
    width: 343px
    padding-top: 80px
    .top-block
      background: #333333
      color: #ffffff
      border-bottom: 5px solid rgb(255, 139, 56)
      h2
        font-family: Open Sans
        font-size: 20px
        font-weight: 700
        line-height: 1
        padding: 20px 0 20px
        border-bottom: 2px solid grey
      div:nth-child(2)
        border-bottom: 1px solid #f5f5f5
        padding: 30px 0 10px
      p
        font-family: Open Sans
        color:  rgba(255, 255, 255, 0.5)
        font-size: 14px
        font-weight: 600
        line-height: 1
        padding: 18px 0 21px
    .bottom-block
      background: rgb(255, 255, 255)
      position: relative
      p
        font-family: Open Sans
        color:  #86878b
        font-size: 14px
        font-weight: 400
        line-height:
        padding: 14px 0 14px 0
        transition: .2s
        &:hover
          font-size: 16px
          // position: absolute
          padding: 13px 0 13px 0
          transition: .2s
          cursor: pointer
      hr
        width: 100%
        height: 2px 
        background: #f5f5f5
        margin-bottom: 0
    .popular
      font-family: Open Sans
      color:  rgba(255, 255, 255, 0.5)
      background: rgb(255, 139, 56)


.customers
  padding: 108px 0 100px
  text-align: center
  &-items
    display: flex
    justify-content: space-between
    padding-top: 55px
  &-content
    hr
      width: 64px
      background-color: #fc8a34
      height: 3px
      border: none
      margin: auto
      margin-bottom: 30px
    h3
      font-family: Raleway
      color:  #212121
      font-size: 36px
      font-weight: 400
      line-height: 1
      margin-bottom: 30px
      line-height: 1
    p
      font-family: Open Sans
      color:  #86878b
      font-size: 14px
      font-weight: 400
      line-height: 1
  &-item
    width: 273px
    text-align: left
    div:nth-child(1)
      margin-bottom: 8px
    p
      font-family: Open Sans
      color:  #86878b
      font-size: 14px
    div:nth-child(1)
      padding: 24px 12px 41px
      background: rgb(245, 245, 245)

.stylish
  background-repeat: no-repeat
  background-size: cover
  text-align: center
  padding: 74px 0  65px
  hr
    width: 64px
    background-color: rgba(255, 255, 255, 0.5)
    height: 3px
    border: none
    margin: auto
    margin-bottom: 23px
  h2
    font-family: Raleway
    color:  rgba(255, 255, 255, 0.5)
    font-size: 36px
    font-weight: 400
    line-height: 1
    margin-bottom: 30px
    line-height: 1
  p
    font-family: Raleway
    color:  rgba(255, 255, 255, 0.5)
    font-size: 16px
    font-weight: 300
    line-height: 1
    margin-bottom: 30px
  button
    font-family: Open Sans
    color:  rgba(255, 255, 255, 0.5)
    font-size: 15px
    font-weight: 600
    background: transparent
    border: 2px solid white
    padding: 13px 32px

.contacts
  text-align: center
  padding: 108px 0 80px
  h2
    font-family: Raleway
    color:  #212121
    font-size: 36px
    font-weight: 400
    line-height: 1
    margin-bottom: 30px
  hr
    width: 64px
    background-color: rgb(255, 139, 56)
    height: 3px
    border: none
    margin: auto
    margin-bottom: 23px
  p
    font-family: Raleway
    color:  rgba(255, 255, 255, 0.5)
    font-size: 16px
    font-weight: 300
    line-height: 1
    margin-bottom: 30px
  .userinput
    display: block
    outline: orange 1px solid
    width: 527px
  form
    outline: red 1px solid

  




footer
  text-align: center
  background: #000
  padding: 15px 5px 15px
  a
    font-family: FontAwesome
    color:  #cccccc
    font-size: 24px
    padding: 10px
    transition: .3s
  i
    margin: 0 20px
    transition: .3s
  a:hover i
    color: red
    font-size: 30px
    margin: 0 17px
    transition: .3s
  p
    font-family: OpenSans
    color:  rgba(255, 255, 255, 0.5)
    font-size: 12px
 
  
       
      
// Пользовательские стили

@import "media" // Всегда в конце
